<!doctype html>
<!--hang bracket nav on scroll-->
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MarchMadness</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script src="scripts/vendor/pace.min.js"></script>
    <link rel="stylesheet" href="styles/pace.css" />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.min.css"/>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="scripts/controllers/MarchMadnessCtrl.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body ng-app="MarchMadnessApp" ng-controller="MarchMadnessCtrl">
    <!--[if lt IE 10]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
    <header id="home">
      <img id="madness" src="images/march-madness-logo-2016.png" alt="March Madness">
    </header>
    <div class="button-wrap">
      <input id="query" class="search-bar" type="text" placeholder=" Find a team.." ng-model="query" ng-keyup="getPosition($event)">
    </div>
    <div id="bracket">
      <div class="bracket-nav" id="bracket-guide">
        <div class="round1 nav">1st round</div>
        <div class="round2 nav">2nd round</div>
        <div class="sweet16 nav">Sweet 16</div>
        <div class="elite8 nav">Elite 8</div>
        <div class="round1-right nav">1st round</div>
        <div class="round2-right nav">2nd round</div>
        <div class="sweet16-right nav">Sweet 16</div>
      </div>
      <div class="region south">
        <div class="south round round-1" id="southRound1">
          <header>
            <h1>SOUTH</h1>
          </header>
          <div class="game" ng-repeat="game in Bracket.south.round1" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="south round round-2" id="southRound2">
          <div class="game" ng-repeat="game in Bracket.south.round2" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="south round round-16" id="southSweet16">
          <div class="game" ng-repeat="game in Bracket.south.sweet16" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="south round round-8" id="southElite8">
          <div class="game" ng-repeat="game in Bracket.south.elite8" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="region west">
        <div class="west round round-1" id="westRound1">
          <header>
            <h1>WEST</h1>
          </header>
          <div class="game" ng-repeat="game in Bracket.west.round1" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="west round round-2" id="westRound2">
          <div class="game" ng-repeat="game in Bracket.west.round2" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="west round round-16" id="westSweet16">
          <div class="game" ng-repeat="game in Bracket.west.sweet16" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>{{game.teamOne}}
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>{{game.teamTwo}}
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="west round round-8" id="westElite8">
          <div class="game" ng-repeat="game in Bracket.west.elite8" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>{{game.teamOne}}
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>{{game.teamTwo}}
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="region east">
        <div class="east round round-1" id="eastRound1">
          <header>
            <h1>EAST</h1>
          </header>
          <div class="game" ng-repeat="game in Bracket.east.round1" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="east round round-2" id="eastRound2">
          <div class="game" ng-repeat="game in Bracket.east.round2" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>{{game.teamTwo}}
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="east round round-16" id="eastSweet16">
          <div class="game" ng-repeat="game in Bracket.east.sweet16" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="east round round-8" id="eastElite8">
          <div class="game" ng-repeat="game in Bracket.east.elite8" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="region midwest">
        <div class="midwest round round-1" id="midwestRound1">
          <header>
            <h1>MIDWEST</h1>
          </header>
          <div class="game" ng-repeat="game in Bracket.midwest.round1" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="midwest round round-2" id="midwestRound2">
          <div class="game" ng-repeat="game in Bracket.midwest.round2" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="midwest round round-16" id="midwestSweet16">
          <div class="game" ng-repeat="game in Bracket.midwest.sweet16" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
        <div class="midwest round round-8" id="midwestElite8">
          <div class="game" ng-repeat="game in Bracket.midwest.elite8" ng-cloak>
            <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
              <span class="seed">{{game.teamOneRank}}</span>
              <span class="team-name">{{game.teamOne}}</span>
              <span ng-class="{'win-icon': game.winner == 1}"></span>
              <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
            </div>
            <div ng-if="$index % 2 == 0" class="connector"></div>
            <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
              <span class="seed">{{game.teamTwoRank}}</span>
              <span class="team-name">{{game.teamTwo}}</span>
              <span ng-class="{'win-icon': game.winner == 2}"></span>
              <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="region final-4">
        <img src="images/final-4.png" alt="final-4 img" />
        <div class="game" ng-repeat="game in Bracket.final4" ng-cloak>
          <h4>{{game.stage}}</h4>
          <div class="top team" ng-class="{'match': query.toLowerCase() === game.teamOne.toLowerCase()}">
            <span class="seed">{{game.teamOneRank}}</span>
            <span class="team-name">{{game.teamOne}}</span>
            <span ng-class="{'win-icon': game.winner == 1 && game.stage !== 'Championship', 'natty': game.winner == 1 && game.stage === 'Championship'}"></span>
            <span class="score" ng-class="{winner: game.winner == 1, loser: game.winner != 1}">{{game.teamOneScore}}</span>
          </div>
          <div ng-if="$index % 2 == 0" class="connector"></div>
          <div class="bottom team" ng-class="{'match': query.toLowerCase() === game.teamTwo.toLowerCase()}">
            <span class="seed">{{game.teamTwoRank}}</span>
            <span class="team-name">{{game.teamTwo}}</span>
            <span ng-class="{'win-icon': game.winner == 2 && game.stage !== 'Championship', 'natty': game.winner == 2 && game.stage === 'Championship'}"></span>
            <span class="score" ng-class="{winner: game.winner == 2, loser: game.winner != 2}">{{game.teamTwoScore}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script src="scripts/main.js"></script>
    <script>
      (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] = function() {
          (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l =+ new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
  </body>
</html>
